@page "/search"
@rendermode InteractiveWebAssembly
@using HPCTechSpring2025MovieApp.Shared
@using HPCTechSpring2025MovieApp.Client.Components
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications

<h3>Search</h3>

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" @bind="searchTerm" placeholder="Search" />
        </div>
        <div class="col-1">
            <button class="btn btn-primary" @onclick="SearchOMDB" >Search</button>
        </div>
    </div>
</div>

@if (searchResult?.Search?.Any() ?? false)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <SfPager PageSize="10" TotalItemsCount="totalItems" ItemClick="PageClick"></SfPager>
                <SfGrid     DataSource="OMDBMovies" 
                            TValue="MovieSearchResultItemDto"
                            Toolbar="@(new List<object>() { 
                                            new ItemModel() { 
                                                                Text="Add Movie", 
                                                                PrefixIcon = "e-add",
                                                                Id="GridMovieAdd"} })">

                    <GridEvents TValue="MovieSearchResultItemDto"
                                RowSelected="GetSelectedRow"
                                OnToolbarClick="ToolbarClickHandler">
                    </GridEvents>
                    <GridColumns>
                        <GridColumn Field="Title"></GridColumn>
                        <GridColumn Field="Year"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
            @if (omdbMovie is not null)
            {
                <div class="col-3">
                    <MovieDetails movie="omdbMovie" />
                </div>
            }
        </div>
    </div>
}

@if (IsClient)
{
    <SfToast    @ref="ToastObj"
                ShowProgressBar="true"
                ShowCloseButton="true"
                Content="@toastContent"
                CssClass="@toastCSS"
                Timeout="5000">
            <ToastPosition  X="Center" Y="Top"></ToastPosition>
    </SfToast>
}